.flexRow--productSpecificationGroup:not(:first-child) {
  margin-top: 1.5rem;
}

.flexRow--productSpecificationGroupName {
  background-color: #eaeaea;
  padding: 0.5rem 1rem;
}

.flexCol--productSpecificationName {
  padding: 1rem;
}

.flexCol--productSpecificationValue {
  padding: 1rem 1rem 1rem 0;
}

.flexRow--productSpecification:nth-child(even) {
  background-color: #f9f9f9;
}
/*CAMBIOS*/
:global(.vtex-search-result-3-x-buttonShowMore){
  padding-bottom: 50px;
  padding-top: 30px;
}
:global(.vtex-store-components-3-x-swiperCaret){
  visibility: hidden;
}
:global(.vtex-store-components-3-x-figure){
  margin-inline-end: auto;
}

:global(.vtex-checkbox__container) {
  padding-top: 5px;
}
:global(.vtex-flex-layout-0-x-flexCol--filterCol) {
  max-width: 500px;
  min-width: 300px;
}
:global(.vtex-product-summary-2-x-element) {
  margin-block: 14px;
} 
:global(.vtex-product-highlights-2-x-productHighlightText ){
  font-size: 14px;
}